#
# Example configuration file for LaunchAPPL
# Copy this file to $HOME/.LaunchAPPL.cfg and modify to your taste
#

# ########### Classic Environment

    # If you are on a PowerPC Mac running Tiger (10.4),
    # uncomment the following to use the Classic Environment:

# emulator = classic


# ########### Carbon on Mac OS X (native PowerPC or Rosetta)

    # If you are on any Mac running Snow Leopard (10.6) or earlier
    # and you are developing Carbon applications, use the following:

# emulator = carbon

# ########### A real Mac connected via a serial cable

    # Prerequisites:
    # - A Mac with a modem port, and any classic Mac system software
    # - The LaunchAPPLServer application
    #   (`Retro68-build/build-target/LaunchAPPL/Server/`) running on that Mac
    # - A computer with a serial port (or USB serial adapter) running Retro68
    # - A Mac-To-PC null modem cable
    #   (https://allpinouts.org/pinouts/cables/serial/macintosh-to-pc-null-modem/)

    # if you change the speed, make sure to choose the matching speed from the
    # menu in the server application

# emulator = serial
# serial-port = /dev/ttyUSB0
# serial-baud = 19200


# ########### A real Mac running Mac OS X

    # Prerequisites
    # - A Mac running Mac OS X that is reachable via ssh
    # - LaunchAPPL compiled for that Mac

# ########### A real Mac connected via TCP/IP

    # Prerequisites:
    # - An old Mac connected to your local TCP/IP network
    # - System Software that supports MacTCP or OpenTransport
    # - LanchAPPLServer compiled by Retro68 for your old Mac
    # - A firewall that protects your Mac from the open internet
    #       (LaunchAPPLServer opens an unsecured TCP port and executes any application it receives there!)

# emulator = tcp
# tcp-address = 192.168.0.42        # IP address of your mac


# ########### Mini vMac (old 68K Macs)

    # To use Mini vMac with LaunchAPPL, you need to supply the ROM file,
    # a system disk image, and a download of autoquit from the minivmac web
    # site, currently at
    #    http://www.gryphel.com/c/minivmac/extras/autoquit/index.html
    # LaunchAPPL does not currently support MultiFinder or System 7.

# Fill in the information below and uncomment the lines:

# emulator = minivmac

    # All minivmac related paths are specified relative to minivmac-dir:
# minivmac-dir = /path/to/directory/with/vMac.ROM/

    # First, we need Mini vMac itself:
# minivmac-path = ./Mini vMac
    # On Macs, specify the path of the application bundle, not the executable inside it:
# minivmac-path = ./Mini vMac.app

    # A ROM file:
# minivmac-rom = ./vMac.ROM

    # Next, a system disk image (System 6 or earlier)
# system-image = ./System.dsk

    # And finally, autoquit:
# autoquit-image = ./autoquit-1.1.1.dsk

# ########### Executor

    # No ROM files needed - an opensource reimplementation of classic Mac OS.

# emulator = executor

    # If Executor is in your PATH and the SystemFolder environment variable
    # is already set up, nothing else is required.

    # in case it's somewhere else:
# executor-path = /usr/local/bin/executor

    # Path to the Executor system folder:
# executor-system-folder = /path/to/ExecutorVolume/System Folder

    # Pass more options to Executor.
    # Note that each "word" needs to be specified separately:
# executor-option = -size       # emulated screen size
# executor-option = 1600x1200

# executor-option = -appearance # uncommenting these two lines
# executor-option = windows     # is seriously not recommended.
